In [1]:
import pandas as pd
import pickle

In [2]:
sqlcon = 'postgres://postgres:postgres@localhost/charity'

In [3]:
sql = '''select org_name, org_type, org_id
from blf_all_orgs'''
orgs = pd.read_sql(sql, sqlcon)

In [4]:
org_types = {
    'Charitable Company': 'Registered charity',
    'Registered charity': 'Registered charity',
    'NI registered charity': 'Registered charity',
    'Company Limited by Guarantee': 'Company Limited by Guarantee',
    'Community Interest Company': 'Community Interest Company',
    'Charitable Company (CIO)': 'Registered charity',
    'Registered Society': 'Registered Society',
    'Parish or Town Council': 'Parish or Town Council',
    'Other School': 'School',
    'Primary School': 'School',
    'Nursery School': 'School',
    'Secondary School': 'School',
    'Local Authority': 'Local Authority',
    'Scottish registered charity': 'Registered charity',
    'Government': 'Government',
    'Further Education': 'Further Education',
    'Royal Charter Company': 'Royal Charter Company',
}

In [5]:
orgs.loc[:, "org_type"] = orgs.org_type.apply(org_types.get)

In [6]:
companiesql = '''select "CompanyName" as org_name, 
    "CompanyCategory" as org_type,
    'GB-COH-' || "CompanyNumber" as org_id
from companies_main
where "CompanyCategory" = 'Private Limited Company';'''
companies = pd.read_sql(companiesql, sqlcon)
companies

,org_name,org_type,org_id
0,! LTD,Private Limited Company,GB-COH-08209948
1,!NNOV8 LIMITED,Private Limited Company,GB-COH-11006939
2,!NSPIRED LTD,Private Limited Company,GB-COH-SC421617
3,!NVERTD DESIGNS LIMITED,Private Limited Company,GB-COH-09152972
4,!OBAC UK LIMITED,Private Limited Company,GB-COH-07687209
5,!YOZO FASS LIMITED,Private Limited Company,GB-COH-02714021
6,""" BROOK VIEW ""MECHANICAL AND ELECTRICAL ENGINE...",Private Limited Company,GB-COH-10275228
7,"""1 C O LIMITED""",Private Limited Company,GB-COH-03811958
8,"""2 ECOUTE"" LIMITED",Private Limited Company,GB-COH-06439541
9,"""309"" WEST END LANE MANAGEMENT LIMITED",Private Limited Company,GB-COH-02943302
10,"""786"" MAZ OFFICE SUPPORT LIMITED",Private Limited Company,GB-COH-10694769
11,"""7S&S"" LTD",Private Limited Company,GB-COH-10159974
12,"""A TASTE OF TUSCANY"" LTD",Private Limited Company,GB-COH-06473722
13,"""A TASTE OF"" TOURS LIMITED",Private Limited Company,GB-COH-10460582
14,"""A"" CERAMICS LIMITED",Private Limited Company,GB-COH-04494986
15,"""A"" CONCEPT LIMITED",Private Limited Company,GB-COH-02537158
16,"""A"" STAR ACCOUNTING, & TRAINING SOLUTIONS LIMITED",Private Limited Company,GB-COH-10252250
17,"""A.B.J.Z DRIVER HIRE "" LTD",Private Limited Company,GB-COH-09151627
18,"""A.K.WELDING SERVICE"" LTD",Private Limited Company,GB-COH-08981806
19,"""AJA PROPERTY DEVELOPMENT LTD""",Private Limited Company,GB-COH-05651002
20,"""ALDO BUILDS AND MAINTENANCE SERVICE LTD"" LTD",Private Limited Company,GB-COH-10710570
21,"""ALEX UK LIMITED"" LTD",Private Limited Company,GB-COH-10420992
22,"""ALL WRAPPED UP"" EVENTS MANAGEMENT LTD",Private Limited Company,GB-COH-SC313991
23,"""ALLWELL"" NATURAL HEALTH LTD",Private Limited Company,GB-COH-11191833
24,"""AND BREATHE"" LTD",Private Limited Company,GB-COH-09008930
25,"""ANIA WALDI"" TRANS LTD",Private Limited Company,GB-COH-10228158
26,"""ANTHONY"" RACING LIMITED",Private Limited Company,GB-COH-10793206
27,"""ASTRA IMPORT LTD.",Private Limited Company,GB-COH-10414561
28,"""B"" COOL LIMITED",Private Limited Company,GB-COH-05318740
29,"""B"" JEWELLED LIMITED",Private Limited Company,GB-COH-09584663
...,...,...,...
3848236,OUTREACH JUDO LIMITED,Private Limited Company,GB-COH-SC478705
3848237,MY CAMPUS RIDE LTD,Private Limited Company,GB-COH-08287331
3848238,KINGDOM GENERATION LIMITED,Private Limited Company,GB-COH-08654836
3848239,CARE FOR PEOPLE & SUPPORT NETWORK LIMITED,Private Limited Company,GB-COH-08960053
3848240,SMARTARSE LIMITED,Private Limited Company,GB-COH-04021573
3848241,THE EDGE THEATRE COMPANY LIMITED,Private Limited Company,GB-COH-09057787
3848242,ROAR PPT LIMITED,Private Limited Company,GB-COH-08886942
3848243,ERAWAN LTD,Private Limited Company,GB-COH-08234378
3848244,THE TOWN PARTNERSHIP LIMITED,Private Limited Company,GB-COH-07931906
3848245,TINA LOBONDI LIMITED,Private Limited Company,GB-COH-08276563
3848246,EAGLE PRO FIGHT CLUB LTD,Private Limited Company,GB-COH-08770223
3848247,FITNESS FOR WOMEN CLUB LTD,Private Limited Company,GB-COH-09197706
3848248,SUPPORT FOR CHANGE LIMITED,Private Limited Company,GB-COH-08710153
3848249,THE CWTCH @ CHILDSPLAY FAMILY CENTRE LIMITED,Private Limited Company,GB-COH-09501222
3848250,K.D.A.R.S LIMITED,Private Limited Company,GB-COH-09151919
3848251,GET FIIT LTD.,Private Limited Company,GB-COH-09503566
3848252,CLUBFUTSALUK LIMITED,Private Limited Company,GB-COH-07849425
3848253,P.C.CAKE LTD,Private Limited Company,GB-COH-09584091
3848254,MANDRAKE FILMS LIMITED,Private Limited Company,GB-COH-06133760
3848255,HALO ARTS LIMITED,Private Limited Company,GB-COH-SC514718
3848256,BLACKOUT THEATRE CO LTD.,Private Limited Company,GB-COH-09865831
3848257,SLICE OF ADVICE LIMITED,Private Limited Company,GB-COH-10009307
3848258,KANTEL MEDICS LTD,Private Limited Company,GB-COH-07504178
3848259,THE LONDON SCHOOL OF MANAGEMENT AND STRATEGIC ...,Private Limited Company,GB-COH-07963558
3848260,JAMES PHELPS LIMITED,Private Limited Company,GB-COH-00475994
3848261,VETERANS FUNERALS UK LIMITED,Private Limited Company,GB-COH-09616255
3848262,GSC ESTATES (UK) LIMITED,Private Limited Company,GB-COH-05969807
3848263,IGG ENGINEERING LIMITED,Private Limited Company,GB-COH-00623700
3848264,YOU-OLO LTD,Private Limited Company,GB-COH-SC448821
3848265,FORFAR TOWN CENTRE PROPERTIES LIMITED,Private Limited Company,GB-COH-SC304069

In [7]:
orgs = orgs.append(companies.sample(100000))
del companies

In [8]:
trusteesql = '''
select trustee as org_name,
    'Individual' as org_type,
    NULL as org_id
from ccew_trustee
where trustee !~* '\y(limited|ltd|trustees|council|trust|university)\y'
'''
trustees = pd.read_sql(trusteesql, sqlcon)
trustees

                                   org_name    org_type org_id
0                      MR RICHARD SOUTHWELL  Individual   None
1                         MR DUNCAN QUIBELL  Individual   None
2                           MR Graham White  Individual   None
3                            MR PETER ORPEN  Individual   None
4                      MR RICHARD A STEWART  Individual   None
5                     MS Vanessa Hall-Smith  Individual   None
6                        Mrs Chrissie Payne  Individual   None
7                    MR James Stanley Smith  Individual   None
8                            MR Alan Burton  Individual   None
9                   MRS Joan Rose Edgington  Individual   None
10            MR Antony Edward John Hawkins  Individual   None
11               MR Christopher Martin Cook  Individual   None
12                           MR Dirk Aldous  Individual   None
13                   Ms Gillian Anne Hunter  Individual   None
14                        MR JONATHAN COHEN  Individual   None
15      MRS CATHERINE GILLIAN SCHWARTZSTEIN  Individual   None
16                           Richard Waller  Individual   None
17                          Julian Kirkness  Individual   None
18                          MR David Hughes  Individual   None
19                    MR Piperis Filippaios  Individual   None
20                              Liz Jenkins  Individual   None
21                     MS Philippa Lawrence  Individual   None
22                        MR WILFRED PERERA  Individual   None
23                           BASNAYAKA (MR)  Individual   None
24                           MR AJITH SILVA  Individual   None
25                           MS DHALIA DIAS  Individual   None
26                          MR R KALUPAHANA  Individual   None
27       MR KUMARA SURIYA KUMARA DISANAYAKA  Individual   None
28                         MR NANDA WITHANA  Individual   None
29                          MISS SUSAN AIRD  Individual   None
...                                     ...         ...    ...
955085           MISS BUKOLA WOODBURNE-DYER  Individual   None
955086                  MRS CHANPHEN POWELL  Individual   None
955087                      MR KEITH MORGAN  Individual   None
955088                   MISS NICOLA WILDIN  Individual   None
955089             MRS DONNA THERESA RENNEY  Individual   None
955090                       JULIE REYNOLDS  Individual   None
955091            MR STEPHEN ANDREW MARSTON  Individual   None
955092                          LISE NOAKES  Individual   None
955093                        ANNE CRANSTON  Individual   None
955094                     MR TYLER ATTWOOD  Individual   None
955095                        DEBORAH POTTS  Individual   None
955096                         NEIL HOPWOOD  Individual   None
955097  WENDY FIORELLA RUIZ RUIZ DE GERRARD  Individual   None
955098              HARRY ALEXANDER GERRARD  Individual   None
955099          CLEMENT JEAN-MARC P. TAQUET  Individual   None
955100                          YASER IQBAL  Individual   None
955101                       MOHAMMED WASIM  Individual   None
955102                 MS OAMAY DHIBA NAWAZ  Individual   None
955103                 MR JOHN GORDON CLUFF  Individual   None
955104      MR HUBERT ALISTAIR PAUL PICARDA  Individual   None
955105           MR RICHARD EDWARD KELLAWAY  Individual   None
955106                      MR LEE STENNING  Individual   None
955107                  MR NICHOLAS BUTCHER  Individual   None
955108                        MR IAN LISTER  Individual   None
955109                   MS KATHY LOVEGROVE  Individual   None
955110                     MR JOHN CHADWICK  Individual   None
955111                       MR JOHN BUNGAY  Individual   None
955112                    MRS GILLIAN WALSH  Individual   None
955113         MR CHRISTOPHER DAVID KENDALL  Individual   None
955114                     MR PETER BENNETT  Individual   None

[955115 rows x 3 columns]

In [9]:
orgs = orgs.append(trustees.sample(200000))
del trustees

In [15]:
import os
cascs = pd.read_csv(os.path.join("model_inputs", "Community Amateur Sports Club.csv"), encoding='latin1', header=None, names=["org_name", "postcode"])
cascs.loc[:, "org_name"] = cascs.org_name.str.strip()
cascs.loc[:, "org_type"] = "Community Amateur Sports Club"
cascs.loc[:, "org_id"] = None
orgs = orgs.append(cascs[["org_name", "org_type", "org_id"]])
cascs

,org_name,postcode,org_type,org_id
org_name,org_type,org_id,Community Amateur Sports Club,None
1066 Rifle & Pistol Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
49Th Rifle & Pistol Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
A FC Uckfield Colts,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
A5 Rangers Cycling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
AA Sports Centre CIC,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abberton Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbey Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbey Hulton United FC,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbey Rangers Football Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbey Sailing Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbot Hall Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbots Bromley Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbots Langley Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbotsbury Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbotsford Park Road Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbotskerswell Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abbrook Park Sports & Social Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberavon Harlequins Rugby Football Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Abercorn Sports Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdare Rugby Union Football Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdeen & District Angling Association,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdeen Amateur Athletics Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdeen Amateur Swimming Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdeen Indoor Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdour Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdour Tennis Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberdyfi Rowing Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberfeldy Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Aberfeldy Golf Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
...,...,...,...,...
Yarnbury (Horsforth) RFC,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yate & District Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yate Tristars,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yateley Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yateley Hockey Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yatton Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yatton Junior Fottball Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yatton RFC,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yeadon Sailing Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yelverton Bohemians Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yeovil Bowls & Squash Club Ltd,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yeovil Olympiads Athletic Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Ynysygerwn Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York & District Indoor Bowls Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York City Rowing Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York Croquet Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York Rouleurs Cycling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
York Squash Rackets Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yorkshire Gliding Club (Pty) Ltd,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yorkshire Mountaineering Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Yorkshire Rams American Football Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Ystalyfera Rugby & Cricket Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Ystrad Rhondda Rugby Football Club Ltd,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Ystradgynlais AFC Juniors,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Ystradgynlais RFC,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Zenith Leisure Uk Ltd,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Zennor GIG Club (Penzance),Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Zetland Community Bowling Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None
Zodiac Netball Club,Community Amateur Sports Club,NaN,Community Amateur Sports Club,None

In [16]:
unisql = '''
select "EstablishmentName" as org_name,
    'University' as org_type,
    concat('GB-EDU-', "URN"::text) as org_id
from schools_edubase
where "EstablishmentTypeGroup_name" = 'Universities'
'''
orgs = orgs.append(pd.read_sql(unisql, sqlcon))

In [17]:
import random

def add_parish_name(x):
    suffix = "Parish"
    if x["org_id"].startswith("GB-PAR-W"):
        suffix = "Community"
    if random.random()>0.8:
        suffix = "Town"
    return "{} {} Council".format(x["org_name"], suffix)

orgs.loc[orgs.org_type=="Parish or Town Council", "org_name"] = orgs.loc[orgs.org_type=="Parish or Town Council"].apply(add_parish_name, axis=1)

In [18]:
orgs.org_type.value_counts()

Registered charity               219325
Individual                       200000
Private Limited Company          100000
Company Limited by Guarantee      56844
School                            37410
Community Interest Company        14562
Parish or Town Council            11337
Registered Society                10573
Community Amateur Sports Club      6823
Government                          983
Royal Charter Company               768
Local Authority                     444
Further Education                   393
University                          141
Name: org_type, dtype: int64

In [19]:
orgs_sample = []
for i in orgs.org_type.unique():
    if i:
        orgs_sample.append(orgs[orgs.org_type==i].sample(10000, replace=True).drop_duplicates())
orgs_sample = pd.concat(orgs_sample)
orgs_sample.org_type.value_counts()

Registered charity               9773
Individual                       9747
Private Limited Company          9525
Company Limited by Guarantee     9174
School                           8773
Community Interest Company       7230
Parish or Town Council           6559
Registered Society               6471
Government                        983
Royal Charter Company             768
Local Authority                   444
Further Education                 393
University                        141
Community Amateur Sports Club       2
Name: org_type, dtype: int64

In [28]:
# save files
for i in orgs.org_type.value_counts().iteritems():
    orgs.loc[orgs.org_type==i[0], "org_name"].to_csv("model_inputs\{}.txt".format(i[0]), index=False)

In [33]:
cascs.index.to_series().to_csv("model_inputs\{}.txt".format("Community Amateur Sports Club"), index=False)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [73]:
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', MultinomialNB()),
])

In [74]:
parameters = {'vect__ngram_range': [(1, 1), (1, 2), (1,3), (2,3)],
              'tfidf__use_idf': (True, False),
              'clf__alpha': (1e-2, 1e-3),
             }

In [75]:
gs_clf = GridSearchCV(text_clf, parameters, n_jobs=-1)

In [76]:
# sample = orgs.sample(10000)
sample = orgs_sample
gs_clf.fit(sample.org_name, sample.org_type)

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...inear_tf=False, use_idf=True)), ('clf', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))]),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'vect__ngram_range': [(1, 1), (1, 2), (1, 3), (2, 3)], 'tfidf__use_idf': (True, False), 'clf__alpha': (0.01, 0.001)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [77]:
tests = [
    "John Smith", 
    "London Borough of Kingston", 
    "Oxfam", 
    "Lime Tree Primary School", 
    "Smithville Town Council", 
    "Peter Symond's Sixth Form College"
]
results = {}
for i, v in enumerate(gs_clf.predict_proba(tests)):
    results[tests[i]] = pd.Series(v, gs_clf.classes_)#.sort_values(ascending=False).index
pd.DataFrame(results).T.round(3)

,Community Amateur Sports Club,Community Interest Company,Company Limited by Guarantee,Further Education,Government,Individual,Local Authority,Parish or Town Council,Private Limited Company,Registered Society,Registered charity,Royal Charter Company,School,University
John Smith,0.00,0.001,0.000,0.000,0.000,0.982,0.000,0.000,0.012,0.000,0.002,0.00,0.002,0.000
Lime Tree Primary School,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,1.000,0.000
London Borough of Kingston,0.00,0.000,0.000,0.000,0.000,0.000,0.989,0.000,0.000,0.000,0.010,0.00,0.000,0.000
Oxfam,0.07,0.097,0.121,0.005,0.013,0.129,0.006,0.088,0.127,0.085,0.130,0.01,0.116,0.002
Peter Symond's Sixth Form College,0.00,0.000,0.000,0.907,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.093,0.000
Smithville Town Council,0.00,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.00,0.000,0.000

In [78]:
results = pd.DataFrame({
    "prediction": gs_clf.predict(orgs.org_name),
    "actual": orgs.org_type
})

In [79]:
print(metrics.classification_report(results["actual"].fillna("Unknown"), results["prediction"]))

                               precision    recall  f1-score   support

Community Amateur Sports Club       0.64      0.98      0.78      6822
   Community Interest Company       0.48      0.90      0.62     14562
 Company Limited by Guarantee       0.44      0.55      0.49     56844
            Further Education       0.59      0.97      0.73       393
                   Government       0.54      0.98      0.70       983
                   Individual       0.99      0.98      0.98    200000
              Local Authority       0.84      1.00      0.91       444
       Parish or Town Council       0.94      1.00      0.97     11337
      Private Limited Company       0.87      0.85      0.86    100000
           Registered Society       0.45      0.93      0.61     10573
           Registered charity       0.93      0.73      0.82    219325
        Royal Charter Company       0.33      0.96      0.49       768
                       School       0.85      0.95      0.89     37410
                   University       0.66      0.57      0.61       141

                  avg / total       0.87      0.84      0.84    659602

In [80]:
gs_clf.best_params_

{'clf__alpha': 0.01, 'tfidf__use_idf': False, 'vect__ngram_range': (1, 2)}

In [82]:
with open("org_type_model.pkl", 'wb') as a:
    pickle.dump(gs_clf, a, protocol=2)